.profile-container {
    display: flex;
    flex-direction: row;
}

.pic-user-level {
    display: flex;
    flex-direction: column;
}

.youstake-link {
    display: flex;
    flex-direction: column;
}

.hendon-link {
    display: flex;
    flex-direction: column;
}